/* App style */
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  height: 450px;
}

.appcontainer {
  display: grid;
  grid-template-rows: 10% 10% 30% 50%;
  grid-gap: 1em;
  height:100vh;
}

.appcontainer > div{
  padding: .5em;
}

/* Grid */
/* Navbar menu */
input {
  border-style: hidden;
  border-radius: 4px;
  color: #C84E3A;
}

select {
  border-style: hidden;
  border-radius: 5px;
  color: #C84E3A;
}

.menu-bar {
  display: grid;
  grid-template-columns: 6fr 6fr 2fr 1fr;
  grid-gap: .5em;
  background: #C84E3A;
  color: #F8D8D5;
  align-items: center;
}

.menu-bar > div {
  font-size: 15px;
}

/* Time signature and tempo */
.time-tempo {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
}

.time-signature-selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.time-signature-selection select {
  align-self: center;
  margin: 5px;
}

.tempo-selection {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr;
  align-items: center;
}

.tempo-selection input {
  margin: 0px 10px;

}

.adjust-tempo-btn {
  margin: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 30%;
  border-color: #F8D8D5;
}

.send-button-selection {
  align-self: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #F8D8D5;
  margin: 0px 20px;
}

/* Screen keyboard */
.keyboard {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-content: center;
}

.screen-recording {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
  margin: 10px;
}

.white-key {
  stroke: #555555;
  fill: #FFFFF7;
}

.black-key {
  stroke: #979797;
  fill: #4B4B4B;
}

/* App title */
.apptitle {
  font-size: 25px;
  text-align: center;
  padding: .3em;
  font-weight: bold;
  color: #E64F3E;
}

/* Directions when the screen is empty */
.directions {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.param-form {
  text-align: center;
  font-size: 25px;
  margin-top: 100px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #525252;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

#notation {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100vw;
}